.title{
	margin-left:60px;
	width:200px;
	font-size:25px;
	background-color:#ffddff;
}
.subscribe{
	background-color:#ddffff;
	width:600px;
}
.button{
	margin-top:20px;
	margin-left:40px;
	height:50px;
	width:300px;
}
#canvas{
	margin-left:20px;
}
.result_is{
	font-size:20px;
	color:#000000;
}
.result{
	margin-left:40px;
	font-size:20px;
	color:#000000;
}
.yen1, .yen5, .yen10, .yen50, .yen100, .yen500{
  display: inline-block;
	opacity:0.35;
	float:left;
  text-align:center;
  line-height: 60px;
  vertical-align: middle;
	margin-left:15px;
	height:60px;
	width:60px;
	border-radius: 50%;
    background: #dddddd;
}